@import "../../app/css/lib.scss";
.medal_detail{
	padding:25px 75px;
	background:#fbfbfb;
	border:1px solid #e4e4e3;
	.next,.prev,.rank i{
		background:url("i/medal_bg01.png");
	}
	.mt{
		span{
			@include inline-block;
			float:left;
			width:136px;
			height:29px;
			line-height: 29px;
			text-align: center;
			background:#fff;
			border-radius: 8px;
			font-size:14px;
			color:#999;
			font-weight: bold;
			margin-right:15px;
			cursor: pointer;
		}
		.curr{
			color:#ff8400;
		}
	}
	.ui-switchable{
		position:relative;
		width:100%;
		.prev{
			position:absolute;
			left:-50px;
			top:195px;
			width:18px;
			height:40px;
			background-position:0px 0px;
			cursor: pointer;
		}
		.next{
			position:absolute;
			right:-40px;
			top:195px;
			width:18px;
			height:40px;
			background-position:-24px 0px;
			cursor: pointer;
		}
		.ui-switchable-body{
			position: relative;
			height:440px;
			overflow: hidden;
			.ui-switchable-panel-main{
				.ui-switchable-panel{
					width:835px;
					ul{
						width:112%;
						li{
							width:150px;
							float:left;
							text-align: center;
							margin:20px 75px 0 0;
							cursor: pointer;
							.pattern{
								width:150px;
								height:179px;
								position: relative;
								.rank{
									position: absolute;
									top:131px;
									left:33px;
									width:83px;
									height:23px;
									background: #fff;
									border-radius: 10px;
									box-shadow: 2px 2px 2px #ccc;
									line-height: 23px;
									font-size:14px;
									font-family: $font-yahei;
									color:#ff8400;
									i{
										@include inline-block;
										width:12px;
										height:15px;
										background-position:0 -45px;
										margin:0px 10px 0 0;
									}
								}
								.tag{
									position: absolute;
									top:10px;
									left:0px;
									width:40px;
									height:33px;
									font-family: $font-yahei;
									font-size: 11px;
									line-height: 26px;
									color:#fff;
								}
								.t1{
									background:url("i/medal_bg02.png");
								}
								.t2{
									background:url("i/medal_bg03.png");
								}
							}
							.name{
								font-family: $font-yahei;
								font-size:14px;
								color:#999;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
		.trigger{
			margin-top:20px;
			text-align: center;
			a{
				@include inline-block;
				width:10px;
				height:10px;
				background:#ddd;
				border-radius: 10px;
				margin:0 2px;
			}
			.curr{
				background:#ff8400;
			}
		}
	}
}
.medal_my{
	.medal_detail{
		width: 615px;
		float:left;
		.ui-switchable{
			.ui-switchable-body{
				.ui-switchable-panel-main{
					.ui-switchable-panel{
						width:635px;
					}
				}
			}
		}
	}
}