@import "../../app/css/lib.scss";
.medal_menu{
	padding-bottom:13px;
	border-bottom:3px solid #ff8400;
	font-size:14px;
	color:#999;
	font-weight: bold;
	margin-bottom:12px;
	h2{
		float:left;
		margin-right:20px;
	}
	.menu{
		float:left;
		position: relative;
		.triangle{
			position:absolute;
			top:26px;
			left:38px;
			@include inline-block;
			width:12px;
			height:6px;
			background:url("i/triangle_ico.gif");
		}
		span{
			@include inline-block;
			margin:0 15px;
			cursor: pointer;
		}
		.curr{
			color:#ff8400;
		}
	}
}